<div class="panel panel-default">
	<div class="panel-heading">
		Maak jouw training
	</div>
	<div class="panel-body">
		<div class="container">

			<%= form_for @training, html: { multipart: true } do |f| %>

			<% if @training.errors.any? %>
		    <div id="error_explanation">
		      <h3>
		        Je wilt toch dat je training snel gevonden wordt? Vul daarom alle velden in :)</h3>
		      <ul>
		        <% @training.errors.messages.values.each do |msg| %>
		    		<% msg.each do |m| %>
          				<li><%= m %></li>
        			<%end %>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <% if false %>

			<div class="row"> 
				<div class="col-md-4 select">
					<div class="form-group">
						<label>Training type</label>
						<%= f.select :tr_type, [["Bootcamp","Bootcamp"]], id: "tr_type", prompt: "Select...", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-4 select">
					<div class="form-group">
						<label>Intensiteit</label>
						<%= f.select :tr_intensity, [["Low","Low"], ["Medium","Medium"],["High","High"]], id: "tr_intensity", prompt: "Select...", class: "form-control" %>
					</div>
				</div>

		  <% end %>

			<div class="row">
				<div class="form-group">
					<label>Naam</label>
					<%= f.text_field :tr_name, placeholder: "Naam", class: "form-control" %>
				</div>
			</div>

			<div class="row"> 
				<div class="col-md-4">

					<div class="form-group">

						<label>Max deelnemers</label>
						<%= f.text_field :tr_max_attendants, placeholder: "...", class: "form-control" %>

					</div>

				</div>

				<div class="col-md-4 select">
					<div class="form-group">
						<label>Voor wie</label>
						<%= f.select :tr_gender, [["Chicks","Chicks"], ["Dudes","Dudes"],["Allebei","Allebei"]], id: "tr_gender", prompt: "Select...", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label>Omschrijving</label>
					<%= f.text_area :tr_description, rows: 5, placeholder: "Omschrijf je training zo dat iedereen wil meedoen", class: "form-control" %>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label>Startlocatie</label>
					<%= f.text_field :tr_location, placeholder: "Waar verzamelen jullie?", class: "form-control" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>Duur (minuten)</label>
						<%= f.text_field :tr_duration, placeholder: "Duur van je training? (Bijv: 90)", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label>Prijs per deelnemer per training</label> <i class = "fa fa-info-circle fa-lg" id="price_condition"></i>
						<div class="input-group">
							<div class="input-group-addon">€</div>
							<%= f.text_field :tr_price, placeholder: "bv. 5.50", class: "form-control" %>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<%= f.check_box :tr_active %> Ik accepteer de voorwaarden voor deze training
					</div>
				</div>
			</div>			

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<span class="btn btn-default btn-file">
							<i class = "fa fa-cloud-upload fa-lg"></i> Upload Foto's
							<%= file_field_tag "images[]", type: :file, multiple: true %>
						</span>					
					</div>
				</div>
			</div>

			<div id="photos"><%= render 'photos/list' %></div>	

			<div class="actions">
				<%= f.submit "Opslaan", class: "btn btn-primary" %>
			</div>
			<% end %>

		</div>
	</div>
</div>

<script>
$('#price_condition').mouseenter(function(){
    $('body').append("<div id='hoveringTooltip' style='position:absolute;'></div>");
    $('#hoveringTooltip').html("Jij krijgt 80% van dit bedrag op je rekening gestort");
    $('#hoveringTooltip').css({
        "top" : $(this).offset().top + 0,
        "left" : $(this).offset().left + 40
    });
});
$('#price_condition').mouseleave(function(){
    $('#hoveringTooltip').remove();
});

</script>