<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Jouw trainingen", trainings_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Trainingen te geven", thrills_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Trainingen te doen", your_trips_path, class: "sidebar-link" %></li>	
		</ul>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Trainingen die jij geeft </div>

			<div class="panel-body">


				<% if @trainings.length == 0 %>Je hebt nog geen trainingen om te geven aangemaakt. <%= link_to "Word trainer!", new_training_path %>
				<% end %>

				<% @trainings.each do |training| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag training.photos[0].image.url(:thumb) if training.photos.length > 0 %>
						</div>
						<div class="col-md-6">
							<h4><%= link_to training.tr_name, training %></h4>
						</div>
						<div class="col-md-2">
							<%= link_to "Update", edit_training_path(training), class: "btn btn-primary" %>
						</div>
						<div class="col-md-2">
							<%= link_to "Datums", thrills_path, class: "btn btn-primary" %>
						</div>						

					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>
