<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Aankomende trainingen door jou </div>
			<div class="panel-body">
				<% if @current_user.thrills.where('? <= thrilldate', Date.today).length == 0 %>Je hebt nog geen datums voor je trainingen. Voeg de datums hier toe!
				<% end %>
				<% current_user.thrills.order("thrilldate ASC").where('? <= thrilldate', Date.today).each do |thrill| %>
					<div class="row">
						<div class="col-md-2">
							<%= thrill.thrilldate.strftime("%a %e %b '%y") %> - <%= thrill.time.strftime("%H:%M") %> 
						</div>
						<div class="col-md-4">
							<%= thrill.training.tr_name %>
						</div>
						<div class="col-md-2">
							<%= thrill.reservations.length %> / <%= thrill.training.tr_max_attendants %>
						</div>
						<div class="col-md-2">
							<%= link_to "Deelnemers", thrill %>
						</div>
						<div class="col-md-2">
							<% if thrill.reservations.length == 0 %>
								<%= link_to "Verwijder", [thrill] , method: :delete, data: {confirm: "Zeker weten?"} %>
							<% end %>

						</div>
					</div>
					<hr>
					
				<% end %>
			</div>
		</div>
</div>



