<!DOCTYPE html>
<html>
  <head>
    <title>Musc</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.fontawesome.com/481602dcc0.js"></script>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <!--
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  </head>

  <body>


        <%= render 'shared/navbar' %>

        <%= render 'shared/message' %>

        <%= yield %>

    
    <div class="footer">

      <div class="container">
          <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>




<script type="text/javascript">
 (function(w) {
   w._sv = w._sv || {};
   w._sv.trackingCode = 'dPJqttCKjPrPQusQNLdYwkTTfmBmLcCR'; 
   var s = document.createElement('script');
   s.src = '//api.survicate.com/assets/survicate.js';
   s.async = true;
   var e = document.getElementsByTagName('script')[0];
   e.parentNode.insertBefore(s, e);
 })(window);
</script><noscript><a href="http://survicate.com">Website Survey</a></noscript>


  </body>
</html>
